.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1.2rem auto;
}

.logo-light {
  font-size: 2.4rem;
}

.logo-dark {
  font-size: 2.4rem;
  color: white;
}
